@import 'variables.scss';
@import 'mixins.scss';
@import 'theme.scss';

body {
  background-color: $brand-color1;
}

.navbar {
  text-transform: uppercase;
  width: 100%;
  background-color: white;
  a.nav-link {
    font-weight: 100;
    color: $brand-color1;
    &:hover {
      color: $brand-color-light;
    }
  }
  img {
    width: 150px;
  }
  .nav-item {
    text-align: right;
  }
}

#hero-section {
  width: 100%;
  height: 500px;
  background-image: url('../images/hero-image-1.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 101%;
  div.heading-area {
    margin-left: 15rem;
    h1 {
      color: white;
    }
  }
}

#signup {
  color: white;
  position: relative;
  height: 400px;
  .overlay {
    // position: absolute;
    // top: -10rem;
    // background-color: $brand-color1;
    h4 {
      font-weight: 100;
    }
    .form {
      input {
        background-color: $brand-color1;
        border-radius: 0;
        &::placeholder {
          color: white;
          opacity: 1;
        }
        &:-ms-input-placeholder {
          color: white;
        }
        &::-ms-input-placeholder {
          color: white;
        }
      }
    } 
  }
}

#portfolio {
  width: 100%;
  // background-image: url('../images/hero-image-1.png');
  // background-repeat: no-repeat;
  // background-size: 101%;
  background-color: #ddd;
  .heading-area {
    margin-left: 10rem;
    text-transform: none;
  }
  img {
    width: 90%;
  }
}

#simple-intuitive {
  background-color: white;
  .heading-area {
    padding: 2rem 4rem;
    h2 {
      font-weight: 400;
      letter-spacing: 2px;
      font-size: 1.7rem;
    }
  }
}

#flexible-versatile {
  background-color: #ddd;
  text-align: left;
  .heading-area {
    text-align: right;
    padding: 2rem 4rem;
  }
}

#real-time-communication {
  background-color: white;
  .heading-area {
    padding: 1rem 4rem;
    span {
      padding-left: 5rem;
    }
  }
}

#moving-up {
  background-image: url('../images/hero-image-newspaper.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 100%;
  background-color: white;
  min-height: 500px;
  .heading-area h2 {
    color: white;
    font-size: 3rem;
  }
  img {
    width: 90%;
  }
  #up-arrow {
    max-width: 175px;
    height: 400px;
    position: absolute;
    bottom: -1px;
    right: 10%;
  }
}

footer {
  background-color: white;
  i {
    color: $brand-color1;
    padding: 2rem;
  }
}

.mobile-only {
  display: none;
  @include screen-xs {
    display: block;
  }
}

.mobile-hide {
  display: inherit;
  @include screen-xs {
    display: none;
  }
}