@import 'variables.scss';
@import 'mixins.scss';
@import 'theme.scss';

body {
  background-color: $brand-color1;
}

.navbar {
  text-transform: uppercase;
  width: 100%;
  background-color: white;
  a.nav-link {
    font-weight: 100;
    color: $brand-color1;
    &:hover {
      color: $brand-color-light;
    }
  }
  img {
    width: 150px;
  }
  .nav-item {
    text-align: right;
  }
}

.heading-area {
  &.top-neg {
    position: absolute;
    top: -1rem;
  }
  &.abs-center {
    position: absolute;
    left: 50%;
    margin-left: -25%;
  }
}



.abs-img {
  position: absolute;
  z-index: 99;
  img {
    width: 8rem;
    max-width: 200px;
  }
  &#clock {
    left: 72%;
    top: -2rem;
  }
  &#cycle {
    left: 10%;
    top: 5rem;
  }
  &#network {
    top: 5rem;
    left: 0;
    img {
      width: 12rem;
      max-width: 300px;
    }
  }
}

#hero-section {
  width: 100%;
  height: 500px;
  background-image: url('../images/hero-image-1.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 101%;
  div.heading-area {
    margin-left: 15rem;
    h1 {
      color: white;
      font-weight: 300;
      b {
        font-weight: 800;
      }
    }
  }
}

#signup {
  color: white;
  position: relative;
  height: 400px;
  .overlay {
    // position: absolute;
    // top: -10rem;
    // background-color: $brand-color1;
    h4 {
      font-weight: 100;
    }
    .form {
      input {
        background-color: $brand-color1;
        border-radius: 0;
        &::placeholder {
          color: white;
          opacity: 1;
        }
        &:-ms-input-placeholder {
          color: white;
        }
        &::-ms-input-placeholder {
          color: white;
        }
      }
    } 
  }
}

#portfolio {
  width: 100%;
  position: relative;
  
  
  
  background-color: #ddd;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/adult-architecture-backpack.jpg');
    background-repeat: no-repeat;
    background-size: 101%;
    background-position: center;
    filter: grayscale(20%) brightness(1.1) contrast(0.9) opacity(0.55);
  }
  // #portfolio-bg-filter {
  //   width: 100%;
  //   height: 100%;
  //   &::before {
  //     content: "";
  //     position: absolute;
      
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100%;
      
  //     
  //   }
  // }
  
  .heading-area {
    margin-left: 10rem;
    text-transform: none;
    
  }
  img {
    width: 90%;
  }
}

#simple-intuitive {
  background-color: white;
  .heading-area {
    padding: 2rem 4rem;
    h2 {
      font-weight: 400;
      letter-spacing: 2px;
      font-size: 1.7rem;
    }
  }
}

#flexible-versatile {
  background-color: #ddd;
  text-align: left;
  .heading-area {
    text-align: right;
    padding: 2rem 4rem;
  }
}

#real-time-communication {
  background-color: white;
  .heading-area {
    padding: 1rem 4rem;
    span {
      padding-left: 5rem;
    }
  }
}

#moving-up {
  background-image: url('../images/hero-image-newspaper.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 100%;
  background-color: white;
  min-height: 500px;
  .heading-area h2 {
    color: white;
    font-size: 3rem;
  }
  img {
    width: 90%;
  }
  #up-arrow {
    max-width: 175px;
    height: 400px;
    position: absolute;
    bottom: -1px;
    right: 10%;
  }
}

footer {
  background-color: white;
  i {
    color: $brand-color1;
    padding: 2rem;
  }
}

.mobile-only {
  display: none;
  @include screen-xs {
    display: block;
  }
}

.mobile-hide {
  display: inherit;
  @include screen-xs {
    display: none;
  }
}

.mt-7 {
  margin-top: 5rem;
}

.my-7 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mt-8 {
  margin-top: 7rem;
}